<!-- FOOTER -->
			
	<footer class="container tablet-center">
		<div class="logo auto-hide">
			<a href="#">
				<img  alt="Stuido" style="width:50px;" src="../img/logo.png">
			</a>
		</div>
		<small>&copy; 2015 ENTP. LTD</small>
		
		
		<div class="right_col auto-hide">
		
			
			<ul class="icons">
				<li><a href="http://facebook.com/entplondon" target="_blank" class="icon-facebook"></a></li>
				<li><a href="https://twitter.com/ENTP_" target="_blank" class="icon-twitter"></a></li>
			</ul>

			
			<ul class="footer_links">
				

			</ul>

		</div>
		
		
	</footer>