<!-- Header : begin -->
	
		<header>
			<section class="container">
			<div class="logo">
				<a href="/">
					<img alt="Studio"  src="../img/logo.png">
				</a>
			</div>
			</section>	
			
			
			<section class="container">	
				
				<ul class="menu">
					<li><a href="/">Home</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li><a href="/events">Events</a></li>
					<li><a href="https://www.facebook.com/media/set/?set=a.526991434118104.1073741830.511005339050047&type=3" target="_blank" >Stories</a></li>
					<li><a href="/shop">Shop</a>
					</li>
					
				</ul>
				
			</section>
	</header>

	<!-- Header : end -->