<!-- Pageslider Fullscreen : begin -->
			<div class="pageslider auto-hide auto-loop"  id="slider-1">
				<div class="sliders">
				
				<div class="slid"> 
					<img src="../img/background.png" alt="Svg image">
					<div class="middle align-center"> 
						<br><br><br>
						<h1>The Complete Toolbox To<br>
							Your Entrepreneurial Goals</h1> 
						<h2>Stories to Inspire | Events to Teach | Clothes to Style.</h2>
							<br>
						<button onclick="ajax(login);">Let's GO</button>
					</div>
				</div>
				
				</div>
			</div>
			<!-- Pageslider Fullscreen : end -->
