<!DOCTYPE html>
<html>
<head>
<title>About us</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="All" name="robots">
<meta name="Author" content="Robocont TM">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicons AND TOUCH ICONS   -->
<link rel="icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">
<!-- Stylesheets -->
<link rel="stylesheet" href="../css/skin-1.css" type="text/css">
<link rel="stylesheet" href="../css/robo.css" type="text/css"/>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="../css/animation.css" type="text/css">
<link rel="stylesheet" href="../css/responsive.css" type="text/css">
</head>
<body>
<%= render "header" %>
			

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
	

	<section id="pageheader" class="container white-bg padding-block content">		
			<div class="center row small">	
				<div class="inline-title">
						<h1><br>The complete toolbox for any entrepreneur.</h1><br><br>
						<p >Providing inspirational stories of fellow entrepreneurs across the world, teaching through relevant events and workshops<br>and providing clothes and merchandise to style your life and the space around you.<br><br>We provide you with everything you need to pursue your path in entrepreneurship. Collaboratively our team have organised over 100 events across Uk and Europe for a range of organisations, universities and businesses, everything from innovative ideas to design and recruitment for events we have you covered.</p><br>
						<button>Our next Events</button><br><br>
				</div>
				
			</div>
	</section>
	
	
			<section class="container content">	
		<section class="staff-1">

		<div class="column width-10 staff-title centered align-center">
				<h2 id="title" class="centered">TEAM</h2>
				<p>Different Backgrounds, Same Vision</p>
		</div>
			<div class="row grid-items">
				<div class="column width-4 tablet-full-width">
					<img src="../img/arman.png" alt="">
					<div class="about">
						<h4>Arman Anaturk</h4>
						<h6>CEO - The flashlight</h6>
						<p>Arman searches for new partners, events and ensures ETNP. is moving in the right direction. Previously running CoderCourse, his vision has always been to support and guide entrepreneurs and founded ENTP. with the intention to do so.</p>
						<div class="social">
							<a target="_blank" href="https://twitter.com/ArmanAnaturk"><i  class="icon-twitter" ></i></a>
							<a href="#"><i class="icon-mail"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
						</div>
						
					</div>
				</div>
				
				<div class="column width-4 tablet-full-width">
					<img src="../img/cami.png" alt="">
					<div class="about">
						<h4>Camille Bossel</h4>
						<h6>Creative Director - The Chisel</h6>
                        <p>Shaping the image of ENTP. Camille is in charge of everything design. Having studied graphic design in Switzerland and worked professionaly at a design firm along with shed loads of other freelance work, Camille is a seasoned designer.</p>
						<div class="social">
							<a target="_blank" href="#"><i class="icon-gplus1"></i></a>
							<a href="#"><i class="icon-vimeo"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
						</div>
						
					</div>
				</div>
				<div class="column width-4 tablet-full-width">

					<img src="../img/yellow.png" alt="">
					<div class="about">
						<h4>Astijus Taujanskas</h4> 
						<h6>Developer - The screwdriver</h6>
						<p>He built the website you are looking at now and has an extensive portfolio of top level projects. Astijus maintains and builds upon all of our programming courses and will solve any problem you give him, dont believe us, try him. </p>
						<div class="social">
							<a href="#"><i class="icon-gplus1"></i></a>
							<a href="#"><i class="icon-vimeo"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
						</div>
						
					</div>
				</div>
				<div class="column width-4 tablet-full-width">
					<img src="../img/blue.png" alt="">
					<div class="about">
						<h4>Carlos Villalobos</h4>
						<h6>Brand Manager - The Wrench</h6>
						<p>Having worked in everything from finance to education and foudning his own startup, Carlos is truly versatile. Now in charge of closing workshops, and sourcing our incredible stories. He's also addicted to social media, managing all of our pages. carlos@entp.io</p>
						
						<div class="social">
							<a target="_blank" href="https://twitter.com/ArmanAnaturk"><i  class="icon-twitter" ></i></a>
							<a href="#"><i class="icon-vimeo"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
						</div>
						
					</div>
				</div>
				
				</div>
				
			</div>
			
		</section>
				
			
	</section>
	
	<!-- Ajax injects:begin -->
	<div class="ajax-inject"></div>
	<!-- Ajax injects:begin -->
	
	<%= render 'footer' %>
	
	<!-- JavaScript -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/robo.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.plus.js"></script>
	
	</body>
</html>