<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="All" name="robots">
<meta name="Author" content="Robocont TM">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicons AND TOUCH ICONS   -->
<link rel="icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">
<!-- Stylesheets -->
<link rel="stylesheet" href="../css/skin-2.css" type="text/css">
<link rel="stylesheet" href="../css/robo.css" type="text/css"/>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="../css/animation.css" type="text/css">
<link rel="stylesheet" href="../css/responsive.css" type="text/css">
</head>
<body>
	
	<%= render "header" %>
			

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
	
	<!-- Blog : start -->
	<section class="container">
		<ul class="blog-1">

			<li>
				<a href="blog-inner.html"><img alt="work"  src="../img/story01.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>Christine, CEO of SIAM Eatery.</span></a>
						<p>"You'll have to sacrifice time and other luxuries, but there's nothing more fulfilling than doing what you love."</p>
			
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
			
			<li>
				<a href="blog-inner.html"><img alt="blog img"  src="../img/tshirt.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>ENTP. basics soon to drop</span></a>
						<p>You've got the skills and the resources so why not dress the part too with our first line ENTP. basics.</p>
						
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
		
			
			<li class="big info_text">
				<i class="icon-award size1"></i>
				<a href="blog-inner.html"><span>We are the most awarded advertising agency   <br>   in world</span></a>
				<p>Coconut is a popular addition. The syrup may also optionapopular addition. Coconut is a popular addition. The syrup may also optionapopular addition.</p>
				<a href="blog-inner.html" class="btn">Read More</a>
			</li>
			
			
			<li class="big">
				<a href="blog-inner.html"><img alt="Work" src="../img/lifehack.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>We understand Mondays are rough. But Tuesdays? Oh man, that’s a whole different story. So far from the weekend yet so early in the week.</span></a>
						<p>On behalf of the entire team at ENTP. let’s make this week about saying yes more often — Let others do nice things for you.<p> 
						
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
			
			
			
			<li>
				<a href="blog-inner.html"><img alt="Work" src="../img/story03.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>Cris CEO & Founder of MotivationGrid, one of the worlds largest inspration blogs.</span></a>
						<p>"If you want help from someone, always help them first, even if they don't need it. If you provide value to them, they will find it hard to deny your requests, so be smart!”<p> 
						
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
			
			
			<li>
				<a href="blog-inner.html"><img alt="Work"  src="../img/work-boxed-small.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>Really excellent ui, the only thing that.</span></a>
						<p>Coconut is a popular addition.
						<small>Date: 18 Nov., Author: Studio</small></p>
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
			
			
			
			<li class="big">
				<a href="blog-inner.html"><img alt="Work" src="../img/big-blog.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>Lorem ipsum dolor sit amet, et netus sed. Leo eleifend ac erat luctus odio..</span></a>
						<p>The syrup may also optionapopular addition. Coconut is a popular addition. The syrup may also optionapopular addition. 
						<small>Date: 18 Nov., Author: Studio</small></p>
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
			

			
		
			
			<li>
				<a href="blog-inner.html"><img alt="Work"  src="../img/work-boxed-small.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>Really excellent ui, the only thing that.</span></a>
						<p>Coconut is a popular addition.
						<small>Date: 18 Nov., Author: Studio</small></p>
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
			
			<li class="">
				<a href="blog-inner.html"><img alt="Work"  src="../img/work-boxed-small.jpg"></a>
				<div class="blog_desc">

						<a href="blog-inner.html"><span>Really excellent ui, the only thing that.</span></a>
						<p>Coconut is a popular addition.
						<small>Date: 18 Nov., Author: Studio</small></p>
						<a href="blog-inner.html" class="btn">Read More</a>

				</div>
			</li>
			

			
			
		</ul>
	</section>
	<!-- Blog : end -->
	
	
	<!-- Ajax injects:begin -->
	<div class="ajax-inject"></div>
	<!-- Ajax injects:begin -->
	
	
	<!-- FOOTER -->

	<footer class="tablet-center">
	<a class="mobile-contact-btn icon-mail hide tablet-show" href="#">Contact</a>
		<div class="logo auto-hide">
			<a href="#">
				<img  alt="Stuido" src="../img/logo_footer.png">
			</a>
		</div>
		<small>&copy; 2015 <a href="#">Studio</a></small>
		
		
		<div class="right_col auto-hide">
		
			
			<ul class="icons">
				<li><a href="http://facebook.com/robocont" class="icon-facebook"></a></li>
				<li><a href="http://twitter.com/robocont" class="icon-twitter"></a></li>
			</ul>

			
			<ul class="footer_links">
				<li><a href="#">BUY NOW</a></li>

				<li><a href="contact.html">Contact</a></li>
			</ul>

		</div>
		
		
	</footer>
	
	<!-- JavaScript -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/robo.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.plus.js"></script>
	
	

	</body>
</html>

