<!DOCTYPE html>
<html>
<head>
<title>Contact version:3</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="All" name="robots">
<meta name="Author" content="Robocont TM">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicons AND TOUCH ICONS   -->
<link rel="icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">
<!-- Stylesheets -->
<link rel="stylesheet" href="../css/skin-1.css" type="text/css">
<link rel="stylesheet" href="../css/robo.css" type="text/css"/>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="../css/animation.css" type="text/css">
<link rel="stylesheet" href="../css/responsive.css" type="text/css">
</head>

<body class="contact menu-absolute">
	<!-- Header : begin -->
	<header>
			<section class="container">
			<div class="logo">
				<a href="#">
					<img alt="Studio"  src="../img/logo.png">
				</a>
			</div>
			
				<a class="compact-menu-icon"><figure></figure></a>
			
				<div class="search">
					<form action="#" method="get">
						<input type="text" name="search" placeholder="Search">
						<button></button>
					</form>
				</div>
				
				<ul class="menu centered auto-hide">
					<li class="sub"><a href="#">Home Pages</a>
						<ul>
							<li><a href="index-1.html">Version 1</a></li>
							<li><a href="index-2.html">Version 2</a></li>
							<li><a href="index-3.html">Version 3</a></li>
						</ul>
					</li>
					<li class="sub"><a href="Parallax-page.html">Pages</a>
						<ul>
							<li><a href="Pricing.html">Pricing</a></li>
							<li class="sub"><a href="Features.html">Features</a>
								<ul>
									<li><a href="Features.html">Features</a></li>
									<li><a href="Features-2.html">Features 2</a></li>
								</ul>
							</li>
							<li><a href="aboutus.html">About us</a></li>
						</ul>
					</li>
					<li><a href="support.html">Support</a></li>
					<li class="sub"><a href="#">Contact</a>
						<ul>
							<li><a href="contact.html">Contact 1</a></li>
							<li><a href="contact-2.html">Contact 2</a></li>
							<li><a href="contact-3.html">Contact 3</a></li>
						</ul>
					</li>
				</ul>
				<ul class="menu compact">
					<li class="sub"><a class="icon-layout" href="#">Pages</a>
						<ul>
							<li><a href="login.html" class="ajax-link">Login Ajax</a></li>
							<li><a href="admin.html">Account</a></li>
							<li><a href="404.html">404 page</a></li>
						</ul>
					</li>
					<li><a class="icon-rocket" href="Video-bg.html">Video background</a></li>
					<li><a class="icon-images" href="Img-bg.html">Img backgroundr</a></li>
					<li><a class="icon-rocket" href="Parallax-slider.html">Parallax Slider</a></li>
					<li><a class="icon-view" href="Parallax-page.html">Parallax Page</a></li>
					<li class="active"><a class="icon-cd" target="_blank" href="http://robotheme.net/robo-framework/doc">Shortcodes</a></li>
					<li class="active"><a class="icon-mail" href="contact.html">Contact</a></li>
				</ul>
			</section>
	</header>
	<!-- Header : end -->

	<section class="contact">
	<div id="map" data-lat="52.3790541"  data-lng="4.8722979" data-marker="1"></div>
			<div class="content">	

				<div class="info">
						<div class="contacts-text">
							<h1>Contact</h1>
							<h5>For any questions, please feel free to contact us by mail. </h5>

						</div>	
				</div>	
			</div>
			
			<div class="contact-info grid-item row">
					
				<div class="column width-4">
					<div class="icon-location medium icon-box box-bg bradius-5"></div>
					<h5>Address</h5>
					<p>No 1926, Sky Tower, New York, USA</p>
				</div>
				
				<div class="column width-4">
					<div class="icon-phone medium icon-box box-bg bradius-5"></div>
					<h5>Phone</h5>
					<p>+333 (012) 345 6789</p>
				</div>
				
				<div class="column width-4">
					<div class="icon-mail medium icon-box box-bg bradius-5"></div>
					<h5>Email</h5>
					<p>basic@theme.com</p>
				</div>

			</div>
	</section>
	
	
	<!-- Ajax injects:begin -->
	<div class="ajax-inject"></div>
	<!-- Ajax injects:begin -->
	
	
	<!-- FOOTER -->
	<a class="mobile-contact-btn icon-mail hide tablet-show" href="#">Contact</a>	
			
	<footer class="tablet-center">
		<div class="logo auto-hide">
			<a href="#">
				<img  alt="Stuido" src="../img/logo_footer.png">
			</a>
		</div>
		<small>&copy; 2015 Studio</small>
		
		
		<div class="right_col auto-hide">
		
			
			<ul class="icons">
				<li><a href="http://facebook.com/robocont" class="icon-facebook"></a></li>
				<li><a href="http://twitter.com/robocont" class="icon-twitter"></a></li>
			</ul>

			
			<ul class="footer_links">
				<li><a href="#">BUY NOW</a></li>
				<li><a href="contact.html">Contact</a></li>

			</ul>

		</div>
		
		
	</footer>
	
	<!-- JavaScript -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="../js/robo.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.plus.js"></script>
	
	</body>
</html>