<!DOCTYPE html>
<html>
<head>
<title>Features</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="All" name="robots">
<meta name="Author" content="Robocont TM">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicons AND TOUCH ICONS   -->
<link rel="icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">
<!-- Stylesheets -->
<link rel="stylesheet" href="../css/skin-1.css" type="text/css">
<link rel="stylesheet" href="../css/robo.css" type="text/css"/>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="../css/animation.css" type="text/css">
<link rel="stylesheet" href="../css/responsive.css" type="text/css">
</head>
<body class="menu-bg">

	<%= render "header" %>
			


			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
	

	<section id="pageheader" class="white-bg padding-block content">
		
			<div class="container row small">	
				<div class="column auto-width width-6 inline-title">

						<h1>Call us to organise<br>your next event</h1>
						<p class="width-10 auto-width " >From corporate hackathons to workshops with UK's best Universites, events are our forte. Check out are previous events and how we can help you.</p>
						<a href="arman@ent" class="btn">Contact</a>
				
				</div>
				<div class="column auto-width width-6">
					INSERT PICTURE OF A COOL TOOLBOX HERE
				</div>

			</div>


		
	
	</section>
	
	<section>
		<div  class="container row features-2 small grid-items borderbottom">
		
			<div class="column width-4 tablet-full-width">
				<div class="column width-4 ">
					<i class="icon-mobile xlarge"></i>
				</div>
				<div class="column width-7 ">
					<h2>Hackathons</h2>
					<p>Who doesnt love a hackathon. But organising one can really be a pain, leave it to our expert engineers who together have participated and organised hackathons across the world.</p>	
				</div>
			</div>
			<div class="column width-4 tablet-full-width">
				<div class="column width-4 ">
					<i class="icon-design xlarge"></i>
				</div>
				<div class="column width-7 ">
					<h2>Workshops</h2>
					<p>We offer a range of workshops from technical skills to pictching and picking the right team. We source the best speakers and teachers in the industry to share their  expertise.</p>	
				</div>
			</div>
			<div class="column width-4 tablet-full-width">
				<div class="column width-4 ">
					<i class="icon-database xlarge"></i>
				</div>
				<div class="column width-7 ">
					<h2>Networking</h2>
					<p>Networking should be fun. We ensure the perfect environment to make people feel comfortable, happy and connecting . Casual chat whilst playing ping pong, yes please!</p>	
				</div>
			</div>

		</div>
		</section>	

	
			<!-- Staff pageslider : begin -->	
			<div class="carousel pageslider no-nav loading" id="staff-3"> 
				<div class="sliders">
				<div class="slid"> 
					<div class="middle align-center"> 
						
									
							<div class="staff-img">	
								<span class="last"></span>
								<span class="next"></span>
								<div class="img">
									<img src="../img/houses.png" alt="">
								</div>
							</div>
							
							<h4>Hack The House, Unilever</h4>
					
							<p>Unilever sponsored hackathon to design the future of online retail and the on demand economy.</p>
							
							<div class="social">
								<a href="#"><i class="icon-gplus1"></i></a>
								<a href="#"><i class="icon-vimeo"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
							</div>
					</div>
				</div>
				
				<div class="slid"> 
					<div class="middle align-center"> 
						
									
							<div class="staff-img">	
								<span class="last"></span>
								<span class="next"></span>
								<div class="img">
									<img src="../img/files/tm.jpg" alt="">
								</div>
							</div>
							
							<h4>CoderCourse</h4>
							<p>Lorem ipsum dolor sit amet, volutpat dui nisi, purus assumenda justo condimentum aliquam nulla, odio parturient est.</p>
							
							<div class="social">
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-gplus1"></i></a>
								<a href="#"><i class="icon-vimeo"></i></a>
							</div>
					</div>
				</div>
				
				<div class="slid"> 
					<div class="middle align-center"> 
						
									
							<div class="staff-img">	
								<span class="last"></span>
								<span class="next"></span>
								<div class="img">
									<img src="../img/files/tm.jpg" alt="">
								</div>
							</div>
							
							<h4>Alex Mishel, Programmer</h4>
							<p>Lorem ipsum dolor sit amet, volutpat dui nisi, purus assumenda justo condimentum aliquam nulla, odio parturient est.</p>
							
							<div class="social">
								<a href="#"><i class="icon-vimeo"></i></a>
								<a href="#"><i class="icon-gplus1"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
							</div>
					</div>
				</div>
				</div>
			</div>
			<!-- Staff pageslider : end -->	
			
	
	
	<%= render 'footer' %>

	<!-- JavaScript -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/robo.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.plus.js"></script>
	
	</body>
</html>