<!DOCTYPE html>
<html>
<head>
<title>Index paralax</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="All" name="robots">
<meta name="Author" content="Robocont TM">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicons AND TOUCH ICONS   -->
<link rel="icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">
<!-- Stylesheets -->
<link rel="stylesheet" href="../css/skin-2.css" type="text/css">
<link rel="stylesheet" href="../css/robo.css" type="text/css"/>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="../css/animation.css" type="text/css">
<link rel="stylesheet" href="../css/responsive.css" type="text/css">
</head>
	<body>
	<%= render 'header' %>

	<br>
	<br>
	<br>
	

	<!-- background : start -->

<section id="containerbg" class="container content">
		
			<div class="row small">	

				<div class="column auto-width width-12 align-center">

					    
						<h1 class="title"><br><br>The Complete Toolbox To<br>Your Entrepreneurial Goals</h1> 
						<h3 class="title">Events to Teach | Stories to Inspire | Clothes to Style.</h3>
						<p class="width-6 auto-width centered ">.</p>
						<a href="/events" class="btn">Our next Events</a>
				
				</div>
			</div>

		</div>		
	
	</section>

<!-- background : end -->

<br>



<div class="row features-3 grid-items ">
				<section class="container">	
					<div class="column width-4 tablet-full-width">
						<div class="column width-3 ">
							<i class="icon-brain"></i>
						</div>
						<div class="column width-8 ">
							<h2>Events</h2>
							<p>Take part in our events exclusive to entreperenuers.</p>	
						</div>
					</div>
					<div class="column width-4 tablet-full-width">
						<div class="column width-3 ">
							<i class="icon-lamp"></i>
						</div>
						<div class="column width-8 ">
							<h2>Stories</h2>
							<p>Share and read stories from entrepreneurs accross the world.</p>	
						</div>
					</div>
					<div class="column width-4 tablet-full-width">
						<div class="column width-3 ">
							<i class="icon-lab"></i>
						</div>
						<div class="column width-8 ">
							<h2>Store</h2>
							<p>Dress the part, designed by entrepreneurs for entrepreneurs.</p>	
						</div>
					</div>
				</section>	
			</div>		

			
		
			<!-- Portfolio : begin -->			
			<ul class="container portfolio-2">
					

						<li class="big">
							<img alt="work"  src="../img/quote03.jpg">
							<a href="http://www.hack.house" target="_blank"  class="work-desc">
								
							</a>
						</li>
						<li>
							<img alt="work"  src="../img/story_01.jpg">
							<a href="https://www.facebook.com/entplondon/photos/a.526991434118104.1073741830.511005339050047/511110349039546/?type=3&theater" target="_blank" class="work-desc">
								<h6>Meet Christine</h6>
								<h3>CEO of SIAM Eatry</h3>
							</a>
						</li>
						
						<li>
							<img alt="work"  src="../img/quote01.jpg">
							<a href="https://instagram.com/_entp/" target="_blank" class="work-desc">
								<h6></h6>
								<h3></h3>
							</a>
						</li>
						<li>
							<img alt="work"  src="../img/quote02.jpg">
							<a href="/shop" class="work-desc">
								<h6></h6>
								<h3></h3>
							</a>
						</li>
						
						<li>
							<img alt="work"  src="../img/story_02.jpg">
							<a href="https://www.facebook.com/entplondon/photos/a.526991434118104.1073741830.511005339050047/513261905491057/?type=3&theaterl" target="_blank" class="work-desc">
								<h6>Meet Cris</h6>
								<h3>CEO of Motivation Grid</h3>
							</a>
						</li>


						
			</ul>
			<!-- Info text : begin -->		
			<div class="container row">
				<div class="column width-6 second-left auto-width">
					<h2 class="second icon-brain">Organise an event with us</h2>
					<h4>We organise custom events to<br>your needs, find out more! 
						<br><br><a href="/events" >Our Events</a></h4>	
					
				</div>
				<div class="column width-6 second-right auto-width">
					<h2 class="second icon-lab">Share your story</h2>
					<h4>Have an interesting startup story or<br>know someone who does? 
						<br><br><a href="https://entpstories.typeform.com/to/tiAOSV" target="_blank" >Share it to the world <div class="clear"></div></a></h4>	
					
				</div>
			</div>
			


			
			




	<!-- Ajax injects:begin -->
	<div class="ajax-inject"></div>
	<!-- Ajax injects:begin -->
	
	
	<%= render 'footer' %>
	
	<!-- JavaScript -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/robo.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.plus.js"></script>
	
	</body>
</html>

