<!DOCTYPE html>
<html>
<head>
<title>404</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="All" name="robots">
<meta name="Author" content="Robocont TM">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicons AND TOUCH ICONS   -->
<link rel="icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">
<!-- Stylesheets -->
<link rel="stylesheet" href="../css/skin-2.css" type="text/css">
<link rel="stylesheet" href="../css/robo.css" type="text/css"/>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="../css/animation.css" type="text/css">
<link rel="stylesheet" href="../css/responsive.css" type="text/css">
<link rel="stylesheet" href="../css/settings.css" type="text/css"/>
</head>
<body>
	

	<!-- Content container : begin -->
	<section class="container">
		<div class="container_error middle">
			<div class="error">
			
				
				
				<div class="board">
					<h3>ENTP. shop is under construction but will be up shortly!</h3>
					
					<a href="/" class="btn">BACK TO HOME</a>
				</div>
				
			</div>
		</div>
		
	</section>
	<!-- Content container : end -->
	
	<!-- JavaScript -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/robo.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../js/jquery.nicescroll.plus.js"></script>
	
	</body>
</html>

