<!-- Header : begin -->
	<header>
			<section class="container">
			<div class="logo">
				<a href="/">
					<img alt="Studio"  src="../img/logo.png">
				</a>
			</div>
			
				
			
				<div class="search">
					<form action="#" method="get">
						<input type="text" name="search" placeholder="Search">
						<button></button>
					</form>
				</div>
				
				<ul class="menu centered auto-hide">
					<li><a href="/">Home</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li><a href="/events">Events</a></li>
					<li><a href="/shop">Shop</a>
					</li>
					<li><a href="/blog">Blog</a>
				</ul>
				<ul class="menu compact">
					<li class="sub"><a class="icon-layout" href="#">Pages</a>
						<ul>
							<li><a href="login.html" class="ajax-link">Login Ajax</a></li>
							<li><a href="admin.html">Account</a></li>
							<li><a href="404.html">404 page</a></li>
						</ul>
					</li>
					<li><a class="icon-rocket" href="Video-bg.html">Video background</a></li>
					<li><a class="icon-images" href="Img-bg.html">Img backgroundr</a></li>
					<li><a class="icon-rocket" href="Parallax-slider.html">Parallax Slider</a></li>
					<li><a class="icon-view" href="Parallax-page.html">Parallax Page</a></li>
					<li class="active"><a class="icon-cd" target="_blank" href="http://robotheme.net/robo-framework/doc">Shortcodes</a></li>
					<li class="active"><a class="icon-mail" href="contact.html">Contact</a></li>
				</ul>
			</section>
	</header>
	<!-- Header : end -->